
.basic{
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    color: #32325d;
}

.h3-class{
    color: #2dce89!important;
    font-weight: bold;
    font-weight: 600!important;
    margin-top: 30px;
}

.buttonss{
    border: none;
    box-shadow: 1px 3px 1px #9E9E9E;
}

.btns{
    background-color: aqua;
    margin-right: 5px;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    position: relative;
    text-transform: uppercase;
    transition: all .15s ease;
    will-change: transform;
    letter-spacing: .025em;
    font-size: .875rem;
}

.btnss{
    background-color: aqua;
    margin-right: 5px;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    position: relative;
    text-transform: uppercase;
    transition: all .15s ease;
    will-change: transform;
    letter-spacing: .025em;
    font-size: .875rem;
}

.btnss i{
    margin-right: 5px;
}

.small{
    margin-top: 30px;
    font-weight: 600!important;
    font-size: 80%;
}

.small-btn{
    background-color: aqua;
    margin-right: 5px;
    padding: 0.5rem 1rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    position: relative;
    text-transform: uppercase;
    transition: all .15s ease;
    will-change: transform;
    letter-spacing: .025em;
    font-size: 10px;
}

.regular-btn{
    background-color: aqua;
    margin-right: 5px;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    position: relative;
    text-transform: uppercase;
    transition: all .15s ease;
    will-change: transform;
    letter-spacing: .025em;
    font-size: .875rem;
}

.large-btn {
    margin-right: 5px;
    padding: 0.5rem 1rem;
    font-size: 1.30rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    position: relative;
    text-transform: uppercase;
    transition: all .15s ease;
    will-change: transform;
    letter-spacing: .025em;
    font-size: .900rem;
}

.pick{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: 600!important;
    font-size: 80%;
}

.color-button button{
    border: none;
    box-shadow: 1px 3px 1px #9E9E9E;

}

.outline{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: 600!important;
    font-size: 80%;
}

.btnk{
    margin-right: 10px;
    padding: 10px;
}

.btnk button{
    padding: 20px;
}

.link-button{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: 600!important;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;


}

.link-buttons a{
    text-decoration: none;
}







