.display-3 {
    font-size: 2.1875rem;
    font-weight: 600;
    line-height: 1.5;
    color: #2a2a50;
}


.container {
    max-width: 1040px;
}


.nuc-p{
    color: #4c5876;
    font-size: 22px;
    font-weight: lighter;
}

.nuc-btn{
   color: white; 
   background-color: #5e72e4;
   margin-right: 5px;
   letter-spacing: 1px;
}

.nuce-btn{
    color: #fff;
    background-color: #172b4d;
    letter-spacing: 1px;
}