.myredd{
    color: red;
    font-size: 22px;
}


.duman-h6{
    color: #2a334b;
    font-size: 40px;
}


.duman-h3{
    color: #aeb1b4;
    margin-top: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}