
.words{
    margin-bottom: 30px;
}


.words small{
    font-weight: 600!important;
    text-transform: uppercase;
    margin-top: 20px;
}

.lorems{
    margin-left: 5px;
}

.card{
    max-width: 100%;
}
 h3{
    color: #2dce89
}

.minnos-text{
text-transform: uppercase;
color: rgb(59, 54, 54);

font-size: small;
}

.shadov-g{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tab-content{
   padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}