
.words{
    margin-bottom: 30px;
}


.words small{
    font-weight: 600!important;
    text-transform: uppercase;
    margin-top: 20px;
}

.lorems{
    margin-left: 5px;
}

.card{
    max-width: 100%;
}
 h3{
    color: #2dce89
}

