.typ-text{
    font-weight:400;
    color: #32325d;
}

.headings{
    margin-top: 30px;
}


.h3-col9{
    color: black;
}

.lanqidi-1{
    font-size: 50px;
}


.lanqidi-2{
    font-size:40px;
}

.lanqidi-3{
    font-size: 30px;
}

.lanqidi-4{
    font-size: 20px;
}

.lanq{
    color: #32325d;
}