.collapse {
  display: flex;
  justify-content: center;
}

.collapse img {
  width: 100px;
  margin-right: 40px;
}

.nav-bar {
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed !important;
  top: 0;
  z-index: 999;
}

.top-element {
  width: 40%;
  display: flex;
}

.nav-link {
  color: white;
}

.social-media ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.social-media ul li {
  padding: 15px;
  color: white;
  margin-top: 10px;
}

.btn {
  background: white;
}

.btn {
  position: relative;
  text-transform: uppercase;
  transition: all .15s ease;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  transition-delay: 0s;
  will-change: transform;
  letter-spacing: .025em;
  font-size: .875rem;
  padding: 5px;
  color: #4b60d4;
  padding: 10px;
}

.btnaw {
  margin-right: 3px;
  color: #5e72e4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.intro {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon();
}

.center-work {
  position: relative;
  width: 600px;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  z-index: 2;
}

.center-work p {
  font-size: 1.26rem;
  font-weight: 300;
  line-height: 1.7;
  margin-top: 1.5rem;
  text-shadow: white 2px;
  color: #fff !important;
}

.center-work img {
  width: 200px;
  margin-top: 20x;
}

.tex {
  font-size: 1.25rem;
  font-weight: 100;
  line-height: 1.7;
  color: white;
  margin-left: 180px;
}

.buttons {
  display: flex;
  margin-top: 40px;
  border: none;
}

.btn1 {
  background-color: white;
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 15px;
  font-size: .875rem;
  margin-right: 10px;
}

.btn1 i {
  margin-right: 5px;
}

.blacktext {
  background: black;
  padding: 15px;
}

.gitlogo {
  color: white;
  margin-right: 5px;
}

.redtext {
  color: white;
}

.text-warning {
  color: #fb6340 !important;
  margin-right: 7px;
}

.small-text {
  margin-top: 3rem !important;
}

.small-text small {
  color: white;
}

.small-text img {
  height: 25px;
  width: 100px;
  margin-left: 10px;
}

.separator svg {
  fill: white;
}

.separator-skew {
  height: 60px;
}

.separator-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

svg {
  color: white;
}

.shape-primary {
  background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
}

.shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.shape span {
  position: absolute;
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.shape-style-1 span:nth-child(2) {
  right: 4%;
  top: 10%;
  background: rgba(255, 255, 255, 0.1);
}

.shape-style-1 .span-50 {
  height: 50px;
  width: 50px;
}

.shape span {
  position: absolute;
}

.shape-style-1 span:nth-child(3) {
  top: 280px;
  right: 5.66666%;
  background: rgba(255, 255, 255, 0.3);
}

.shape-style-1 .span-50 {
  height: 50px;
  width: 50px;
}

.shape-primary span:nth-child(3) {
  background: rgba(255, 255, 255, 0.15);
}

.shape span {
  position: absolute;
}

.shape-style-1 span:nth-child(4) {
  top: 320px;
  right: 7%;
  background: rgba(255, 255, 255, 0.15);
}

.shape-style-1 .span-75 {
  height: 75px;
  width: 75px;
}

.shape-primary span:nth-child(4) {
  background: rgba(255, 255, 255, 0.15);
}

.shape-style-1 span {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.shape span {
  position: absolute;
}

.shape-style-1 span:nth-child(5) {
  top: 38%;
  left: 1%;
  right: auto;
  background: rgba(255, 255, 255, 0.05);
}

.shape-style-1 .span-100 {
  height: 100px;
  width: 100px;
}

.shape-primary span:nth-child(5) {
  background: rgba(255, 255, 255, 0.15);
}

.shape-style-1 span {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.shape span {
  position: absolute;
}

.shape-style-1 span:nth-child(6) {
  width: 200px;
  height: 200px;
  top: 44%;
  left: 10%;
  right: auto;
  background: rgba(255, 255, 255, 0.15);
}

.shape-style-1 .span-75 {
  height: 75px;
  width: 75px;
}

.shape-style-1 span {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.shape span {
  position: absolute;
}

.shape-style-1 span:nth-child(7) {
  bottom: 50%;
  right: 36%;
  background: rgba(255, 255, 255, 0.04);
}

.shape-style-1 .span-50 {
  height: 50px;
  width: 50px;
}

.shape-style-1 span {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.shape span {
  position: absolute;
}

.shape-style-1 span:nth-child(8) {
  bottom: 70px;
  right: 2%;
  background: rgba(255, 255, 255, 0.2);
}

.shape-style-1 .span-100 {
  height: 100px;
  width: 100px;
}

.shape-style-1 span {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.shape span {
  position: absolute;
}

.basic {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.5;
  color: #32325d;
}

.h3-class {
  color: #2dce89 !important;
  font-weight: bold;
  font-weight: 600 !important;
  margin-top: 30px;
}

.buttonss {
  border: none;
  box-shadow: 1px 3px 1px #9E9E9E;
}

.btns {
  background-color: aqua;
  margin-right: 5px;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  position: relative;
  text-transform: uppercase;
  transition: all .15s ease;
  will-change: transform;
  letter-spacing: .025em;
  font-size: .875rem;
}

.btnss {
  background-color: aqua;
  margin-right: 5px;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  position: relative;
  text-transform: uppercase;
  transition: all .15s ease;
  will-change: transform;
  letter-spacing: .025em;
  font-size: .875rem;
}

.btnss i {
  margin-right: 5px;
}

.small {
  margin-top: 30px;
  font-weight: 600 !important;
  font-size: 80%;
}

.small-btn {
  background-color: aqua;
  margin-right: 5px;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  position: relative;
  text-transform: uppercase;
  transition: all .15s ease;
  will-change: transform;
  letter-spacing: .025em;
  font-size: 10px;
}

.regular-btn {
  background-color: aqua;
  margin-right: 5px;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  position: relative;
  text-transform: uppercase;
  transition: all .15s ease;
  will-change: transform;
  letter-spacing: .025em;
  font-size: .875rem;
}

.large-btn {
  margin-right: 5px;
  padding: 0.5rem 1rem;
  font-size: 1.30rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  position: relative;
  text-transform: uppercase;
  transition: all .15s ease;
  will-change: transform;
  letter-spacing: .025em;
  font-size: .900rem;
}

.pick {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: 600 !important;
  font-size: 80%;
}

.color-button button {
  border: none;
  box-shadow: 1px 3px 1px #9E9E9E;
}

.outline {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: 600 !important;
  font-size: 80%;
}

.btnk {
  margin-right: 10px;
  padding: 10px;
}

.btnk button {
  padding: 20px;
}

.link-button {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: 600 !important;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
}

.link-buttons a {
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
}

form {
  margin-left: auto;
  margin-right: auto;
}

.sentences {
  margin-left: 100px;
  padding: 15px;
}

.sentences h3 {
  color: #2dce89 !important;
  font-weight: bold;
  font-weight: 600 !important;
  margin-top: 50px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.sentences small {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-top: 50px;
  font-weight: 600 !important;
  font-size: 80%;
  margin-left: 40px;
}

.second-form {
  background-color: #e6e9f0;
}

.check-forms-general {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.cb small {
  margin-bottom: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.h3 {
  color: #2dce89 !important;
  font-weight: bold;
  font-weight: 600 !important;
  margin-top: 50px;
  margin-bottom: 20px;
}

.myh2 {
  font-size: 2rem;
  color: #32325d;
  font-weight: 400;
  line-height: 1.5;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.words {
  margin-bottom: 30px;
}

.words small {
  font-weight: 600 !important;
  text-transform: uppercase;
  margin-top: 20px;
}

.lorems {
  margin-left: 5px;
}

.card {
  max-width: 100%;
}

h3 {
  color: #2dce89;
}
/*# sourceMappingURL=main.css.map */